th.api_title{
  background:#ff6347;
  //background:#ffcc00;
}


textarea.protein_search{
        width:100%;
}

select.glycan_search, select.glycan_list, select.protein_search, select.protein_list{
        width:100%;
}

.glycan_search, .glycan_list, .protein_search, .protein_list, .typeahead_search, .typeahead_list, .auth_userid, .auth_logging, .auth_contact{
	width:100%;
}

.protein_to_orthologs_search,.biosynthesis_enzyme_to_glycans_search, .glycan_to_biosynthesis_enzymes_search, .glycan_to_enzyme_gene_loci_search, .glycan_to_glycoproteins_search, .species_to_glycosyltransferases_search, .species_to_glycohydrolases_search, .species_to_glycoproteins_search {
	width:100%;
}

.protein_to_orthologs_list,.biosynthesis_enzyme_to_glycans_list, .glycan_to_biosynthesis_enzymes_list, .glycan_to_enzyme_gene_loci_list, .glycan_to_glycoproteins_list, .species_to_glycosyltransferases_list, .species_to_glycohydrolases_list, .species_to_glycoproteins_list {
	width:100%;
}





